.item-detail-container {
    display: flex;
    margin: auto;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    max-width: 70rem;
    height: 33rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: var(--white-color);
}

.cerrar-modal {
    margin: 15px 15px 0 0;
    order: 1;
}

.cerrar-modal:hover {
    cursor: pointer;
}

.item-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex: 1;
}

.img-detail-container>img {
    margin: 25px 10px;
    padding: 15px;
    width: 370px;
}

.item-detail-info {
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
    flex: 1;
    padding-left: 15px;
}

.btns-carrito {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contador-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-weight: bold;
}

.contador-container>button {
    border-radius: 7px;
    padding: 10px;
    background: #fff;
    border: 1px solid var(--black-color);
    font-weight: bold;
    width: 30px;
    text-align: center;
}

.contador-container>button:hover {
    cursor: pointer;
    background: var(--black-color);
    color: var(--white-color);
}

/* MEDIA QUERIES */

@media (max-width: 1024px) {

    .item-detail {
        gap: 0;
    }

    .item-detail-container {
        margin: auto 20px;
    }
}

@media (max-width: 700px) {

    .item-detail-container {
        height: 35rem;
    }

    .item-detail {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    .img-detail-container>img {
        margin: 0;
        padding: 10px 0;
        width: 320px;
        margin-left: 30px;
    }

    .item-detail-info {
        margin-left: 30px;
        padding-left: 0;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;
    }

    .item-detail-info>h2,
    .item-detail-info>p,
    .item-detail-info>strong {
        text-align: center;
    }
}

@media (max-width: 425px) {

    .img-detail-container>img{
        width: 250px;
    }
}

@media (max-width: 375px) {

    .img-detail-container>img{
        width: 200px;
    }
}