.productos-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
    padding: 3.75rem 2rem;
}