.productos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    padding: 50px;
}

/* MEDIA QUERIES */

@media(max-width:1024px) {

    .productos-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {}

@media (max-width: 340px) {

    .productos-container {
        padding-top: 25px;
    }
}