.nav-bar {
    padding: 25px;
}

.ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    list-style: none;
    gap: 50px;
    cursor: pointer;
}

ul>li {
    transition: transform .2s ease-in-out;
}

.link-title {
    color: var(--white-color);
    text-decoration: none;
}

.link-title:hover {
    opacity: 0.8;
}

.link {
    text-decoration: none;
    color: var(--black-color);
}

ul>li:hover {
    transform: scale(1.2);
}

/* MEDIA QUERIES */

@media (max-width:425px) {
    .ul {
        gap: 25px;
    }
}