.footer {
    text-align: center;
    padding: 25px 0 12px;
    background: var(--black-color);
    color: var(--white-color);
}

.title-footer {
    font-size: clamp(1.4rem, 2vw, 1.7rem);
    font-weight: 500;
    padding: 7px;
}

.ancor {
    text-decoration: none;
    color: var(--white-color);
}

.iconos-container {
    display: flex;
    gap: 20px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.iconos-container>a {
    transition: transform .2s ease-in-out;
}

.iconos-container>a:hover {
    transform: scale(1.2);
}

.icono {
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
}

.icono-gmail {
    cursor: pointer;
    width: 3rem;
}

.parrafo {
    font-size: clamp(0.95rem, 1.2vw, 1.1rem);
    padding-bottom: 5px;
}