@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-color: #e3e3e3;
    --black-color: #212121;
}

body {
    font-family: 'Inter', sans-serif;

}

main {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 2rem;
}